@import 'src/styles/variables';

.header {
  --grid-template-columns: 1fr;
  --gap: var(--gap-m);
  --logo-alignment: center;
  
  @media (min-width: #{$m}){
    --grid-template-columns: 1fr 1fr;
    --gap: var(--gap-l);
    --logo-alignment: start;
  }

  @media (min-width: #{$l}){
    --grid-template-columns: 2fr 1fr;
  }

  align-items: center;
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  gap: var(--gap-m);
  padding-block: var(--gap-m);
  padding-inline: var(--fixed-gap);
  border-bottom: 1px solid var(--color-grey-med1);

  .logo {
    --header-spacing-bottom-xl: 0;

    font-weight: var(--font-weight-bold);
    letter-spacing: calc(var(--fixed-gap) / 6 * -1);
    text-align: var(--logo-alignment);
    cursor: pointer;
    display: inline-flex;
  }
}