// Layout
$xs: 320px;
$s: 375px;
$m: 768px;
$l: 1024px;
$xl: 1448px;
$hd: 1280px;
$uxga: 1600px;
$full-hd: 1920px;

$max-xs: $xs - 1;
$max-s: $s - 1;
$max-m: $m - 1;
$max-l: $l - 1;
$max-xl: $xl - 1;
$max-hd: $hd - 1;
$max-uxga: $uxga - 1;
$max-full-hd: $full-hd - 1;

// Colors
$color-primary: #C7372F;
$color-success: #67CA65;
$color-warning: #E98D03;
$color-error: #C7372F;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);
$color-grey-med1: #DDDDDD;
$color-grey-med2: #999999;
$color-grey-med3: #BDBDBD;
$color-grey-med4: #EEEEEE;
$color-grey-light: #F2F2F2;
$color-grey-dark: #333333;
$color-grey-dark2: #666666;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #121212;
$color-dark2: #1a1a1a;
$color-dark-highlight: #1F1E1E;
$color-beige: #D9B176;
$color-blue: #333BF7;
$color-blue-dark: #200B69;
$color-brown: #925E39;
$color-red: #C7372F;
$color-orange: #FF7F00;
$color-primary-transparent: rgba($color-primary, .5);
$color-primary-light-transparent: rgba($color-primary-light, .5);
$color-grey-med1-transparent: rgba(221, 221, 221, .5);
$color-grey-med2-transparent: rgba(153, 153, 153, .5);
$color-grey-med3-transparent: rgba(189, 189, 189, .5);
$color-grey-light-transparent: rgba(242, 242, 242, .5);
$color-grey-dark-transparent: rgba(51, 51, 51, .5);
$color-white-transparent: rgba(255, 255, 255, .5);
$color-black-transparent: rgba(0, 0, 0, .5);
$color-dark-transparent: rgba(18, 18, 18, .5);
$color-dark-hightlight-transparent: rgba(31, 30, 30, .5);
$color-background-headfoot: $color-dark;
$color-gradient-gold: linear-gradient(222.66deg, #E9CB7D 2.77%, #FFF0CB 49.96%, #E9CB7D 93.71%);
$color-gradient-silver: linear-gradient(222.66deg, #D1D1D1 2.77%, #F2F2F2 49.96%, #D1D1D1 93.71%);
$color-light-overlay: hsla(0 0% 100% / 0.5);
$color-dark-overlay: hsla(0 0% 0% / 0.5);