<dialog #dialog [@fadeIn]="state">
  <span (click)="onClose()" class="close"><fa-icon [icon]="faCircleXmark"></fa-icon></span>
  <ng-template [ngIf]="albumDetail">
    <div class="album-details">
      <figure>
        <img [src]="albumDetail.cover" [alt]="albumDetail.title" width="600" height="600">
      </figure>
      <div>
        <h4 class="title">{{albumDetail.title}}</h4>
        <h5 class="artist">{{albumDetail.artist}}</h5>
        <div class="info">
          <span class="genre">{{albumDetail.genre}}</span>
          <span class="year">{{albumDetail.year}}</span>
        </div>
      </div>
    </div>
    <div class="tracklist">
        <ng-container *ngIf="albumDetail.tracks.length; else noTracks">
          <div *ngFor="let track of albumDetail.tracks">
            <span class="number">{{track.trackNumber < 10 ? '0' + track.trackNumber : track.trackNumber}}</span>
                <span class="title">{{track.title}}</span>
                <span class="duration">{{track.duration}}</span>
          </div>
        </ng-container>
        <ng-template #noTracks>
          <div class="no-tracks">No tracks found</div>
        </ng-template>
        
    </div>
  </ng-template>
</dialog>