@import '../../../../../styles/variables';

.album {
  --album-grid-template-areas: "image details";
  --album-grid-template-rows: auto auto;
  --album-grid-template-columns: 1fr 3fr;
  --detail-grid-template-areas: "artist" "title" "genre";
  --detail-padding: var(--gap-m);

  @media (min-width: $m) {
      --album-grid-template-areas: "image" "details";
      --album-grid-template-rows: max-content 1fr;
      --album-grid-template-columns: 1fr;
      --detail-grid-template-areas: "title title" "artist genre";
      --detail-padding: var(--gap-s);
  }

  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow-100);
  display: grid;
  grid-template-areas: var(--album-grid-template-areas);
  grid-template-rows: var(--album-grid-template-rows);
  grid-template-columns: var(--album-grid-template-columns);
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  > figure {
    aspect-ratio: 1;
    position: relative;
    width: 100%;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  > a {
    display: block;
    inset: 0;
    position: absolute;
    cursor: pointer;
  }
  
  > div {
    display: grid;
    gap: var(--gap-xxs);
    padding: var(--detail-padding);
    grid-template-areas: var(--detail-grid-template-areas);
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content auto;

    .artist {
      grid-area: artist;
      font-weight: 500;
      margin: 0;
      font-size: var(--font-size-xs);
      color: var(--color-grey-dark2);
    }

    .genre {
      grid-area: genre;
      place-self: flex-end;
      font-weight: 100;
      font-size: var(--font-size-xs);
      color: var(--color-grey-med2);
    }
    
    .name {
      grid-area: title;
      font-weight: 600;
      margin: 0;
      font-size: var(--font-size-normal);
    }
  }
}