body {
  &.no-scroll {
    overflow: hidden;
    width: calc(100vw - var(--scrollbar-width));
  }
}

.container {
  --container-template-areas: ". head ." ". main .";
  --container-row-gap: var(--gap);

  .home & {
    --container-template-areas: ". head .";
    --container-row-gap: 0;
  }

  display: grid;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  row-gap: var(--container-row-gap);
  grid-template-areas: var(--container-template-areas);
  grid-template-columns: var(--main-inline-offset) auto var(--main-inline-offset);
  grid-template-rows: min-content auto min-content;
  line-height: var(--line-height-base);
  min-height: 100vh;
}